*{box-sizing: border-box;}
.main{
    width: 85%;
    direction: rtl;
    margin: 15px auto 5px auto;
    border: 1px solid brown;
}
.logo{
    display: inline-block;
    width: 25%;
    border: 1px solid brown;

}
.search_box{
    display: inline-block;
    width: 70%;
    height: 2vw;
    border: 1px solid brown;

}